@charset "UTF-8";

.form-filtro {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 15px;
    background: #F5F5F5;
    max-width: 100%;
    flex-wrap: wrap;
}

.form-filtro label,
.form-filtro span {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* Inputs padrão */
.form-filtro input[type="text"],
.form-filtro input[type="number"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

/* ----- CHECKBOX REESTILIZADA ----- */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
}

/* Blocos das opções de status */
.status-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.escolhas-checkbox {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Cada item */
.escolha,
.checkbox-label {
    display: flex;
    align-items: center;
}

/* Botão */
.form-filtro button {
    padding: 8px 20px;
    background-color: #006837;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    height: 35px;
}

.form-filtro button:hover {
    background-color: #45a049;
}
