@charset "UTF-8";

.form-div{
	width: 100%
}

.form-filtro {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 16px;
  padding: 15px;
  background: #F5F5F5;
  
}

.form-filtro div{
  display: flex;
  flex-direction: column;
}

.div-primeira{
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.form-filtro label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.form-filtro input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 0px;
}

.form-filtro button {
  padding: 8px 20px;
  background-color: #006837;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  height: 35px;
}

.form-filtro button:hover {
  background-color: #45a049;
}